/*
* @Author: Chen
* @Date:   2019-12-03 17:39:03
* @Last Modified by:   Chen
* @Last Modified time: 2019-12-06 17:42:39
*/
.Login{
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.6);
}
.Login .btn-submit{
	width: 100%;
}