.Login{
	height: 300px;
	width: 320px;
	margin: 150px auto;
	background: rgba(0,0,0,0.1);
	box-sizing: border-box;
	border-radius: 50px;
	padding: 50px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	
}
.Login .btn-sub-login{
	width: 100%;
	height: 50px;
	border-radius: 50px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}
#normal_login_username,#normal_login_password{
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

	height: 50px;
	border-radius: 50px;
}