{% extends './layout.html' %}


{% block title %}
文章管理
{% endblock %}


{% block header %}
欢迎来到文章列表中心
{% endblock %}


{% block content %}
<a href="/article/add" class="btn btn-primary">新增文章</a>
<div class="table-responsive content">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>标题</th>
        <th>作者</th>
        <th>分类</th>
        <th>创建时间</th>
        <th>点击量</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    	{% for article in articles %}
	      <tr>
	        <td>{{ article.title }}</td>
          <td>{{ article.user }}</td>
          <td>{{ article.category }}</td>
          <td>{{ article.createAt }}</td>
          <td>{{ article.click }}</td>
	        <td>
              <a href="/detail{{ article._id.toString() }}">查看详情</a> 
              <a href="/article/edit{{ article._id.toString() }}">编辑</a> 
              <a href="/article/delete{{ article._id.toString() }}" class="del">删除</a> 
          </td>
	      </tr>
      	{% endfor %}
    </tbody>
  </table>
</div>


<nav aria-label="Page navigation">
  <ul class="pagination">
    {% if page == 1 %}
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
  <li>
      <a href="/article?page={{ page-1 }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for i in list %}
      {% if i == page %}
        <li class="active"><a href="/article?page={{ i }}">{{i}}</a></li>
      {% else %}
      <li><a href="/article?page={{ i }}">{{i}}</a></li>
    {% endif %} 
    {% endfor %}
    {% if page == pages %}
    <li class="disabled">
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li>
      <a href="/article?page={{ page+1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}