<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">管理中心</a>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ userInfo.username }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" id="logout">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/admin/users">用户列表 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">分类管理</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{% block header %}{% endblock %}</h1>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="/bootstrap-3.3.7/dist/js/jquery-1.12.4.js"></script>
    <script src="/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/js/logout.js"></script>
    {% block footer %}{% endblock %}
  </body>
</html>
