/*
* @Author: Chen
* @Date:   2019-12-03 17:39:03
* @Last Modified by:   Chen
* @Last Modified time: 2019-12-03 17:39:27
*/
.Login{
	width: 320px;
	margin: 100px auto;
	background: rgba(0,0,0,0.1);
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	padding: 20px;
}
.Login .btn-sub-login{
	width: 100%;
}