/*
* @Author: Chen
* @Date:   2019-12-08 16:31:25
* @Last Modified by:   Chen
* @Last Modified time: 2019-12-08 16:57:31
*/
.AdminHeader .logo{
	float: left;
	color: #1DA57A;
	font-size: 20px;
	font-weight: 600;
}
.AdminHeader .drop-down{
	float: right;
}