<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
</head>
<body>
	<div id="box">
		<input type="text" v-model='score'>
		<p id="box">{{score}}</p>
		<p v-if="score < 60">努力加油</p>
		<p v-else-if="score < 80">及格</p>
		<p v-else-if="score < 90">良好</p>
		<p v-else="score >= 90">优秀</p>
	</div>
</body>
<script src="./vue/vue.js"></script>
<script>
	var vm = new Vue({
		el:'#box',
		data:{
			score:66,
		},
	})
	
	
</script>
</html>