<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
		button{
			width: 80px;
			height: 30px;
			margin-left: 10px;
		}
		div{
			margin-left: 10px;
		}
		.actives{
			color: orangered;
		}
	</style>
</head>
<body>
	<div id="tb">
		<button 
			v-for="(item,index) in items"
			@click="cruuentTable = item"
		>
			{{item}}
		</button>
		<!-- <button @click='currentTabComponent="Tab-home"'>home</button>
		<button @click='currentTabComponent="Tab-active"'>Tab-active</button>
		<button @click='currentTabComponent="Tab-list"'>Tab-list</button> -->
		<!-- 用component表示当前在哪个组件 -->
		<keep-alive>
			<component :is="currentTabComponent"></component>
		</keep-alive>
	</div>
	<!-- <template> 需要定义在 Vue 所属的 DOM 元素外。 -->
    <template id="Tab-home">
		<div>Tab-home</div>
    </template>
	<template id="Tab-active">
		<div>
			<ul>
				<li
					v-for="(article,index) in articles"
					:key='article.index'
					@click="isArticle = article"
					:class="{actives:isArticle == article}"
				>
					{{article.title}}
				</li>
				<span v-if="isArticle">
					{{isArticle.content}}
				</span>
			</ul>
		</div>
	</template>
	<template id="Tab-list">
		<div>Tab-list</div>
	</template>
</body>
<script src="./vue/vue.js"></script>
<script type="text/javascript">
    //1.定义组件
	var Home = Vue.extend({
		data:function(){
			return {
	
			}
		},
	    template: '#Tab-home',
		
	})
	var Active = Vue.extend({
		data:function(){
			return {
				articles:[
					{
						title:'吃火锅',
						content:'毛肚,虾滑,鱼丸'
					},
					{
						title:'吃烤肉',
						content:'五花肉,生菜,培根'
					},{
						title:'吃早餐',
						content:'包子,油馍,胡辣汤'
					},
				],
				isArticle:null,
			}
		},
	    template: '#Tab-active',
		
	})
	var List = Vue.extend({
		data:function(){
			return {

			}
		},
        template: '#Tab-list',
		
	})
	
	//2.生成组件
	Vue.component('Tab-home',Home)
	Vue.component('Tab-active',Active)
	Vue.component('Tab-list',List)
	
	
	var vm = new Vue({
		el:'#tb',
		data:{
			cruuentTable:'home',
			items:['home','active','list']
		},
		computed:{
			currentTabComponent:{
				get:function(){
					return 'Tab-' + this.cruuentTable
				},
			}
		}
	})
	
</script>
</html>