	.container{
		width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
	body{
		font-size: 14px;
	}

/*浮动相关开始*/
	.fl{
		float: left;
	}
	.fr{
		float: right;
	}
	.clearfix:after{
		content: "";
		clear: both;
		display: block;
		height: 0;
		visibility: hidden;
	}
	.clearfix{
		*zoom:1;
	}
/*浮动相关结束*/

/*a链接相关开始*/
	a{
		font-size: 12px;
		text-decoration: none;
		color: #4a4f52;
	}
	.link:hover{
		color: #e6a6a4;
	}
/*a链接相关结束*/

/*i标签相关开始*/
	.transition{
		transition: all 0.5s;
	}
/*i标签相关结束*/

/*下拉菜单共通开始*/
	.dropdown{
		position: relative;
	}
	.dropdown-left{
		left: 0px;
	}
	.dropdown-right{
		right: 0px;
	}
	.dropdown-layer{
		display: none;
		position: absolute;
		z-index: 999;
	}
/*下拉菜单共通结束*/