/*顶部导航开始*/
	.top{
		/*height: 50px;*/
		background-color: #f4f5f7;
	}
	.top .top-left li{
		height: 44px;
		line-height: 44px;
		margin-right: 8px;
	}
	.top .top-left .link-a{
		color: #e6a6a4;
	}
	/*	
	.top .top-right .dropdown:hover .dropdown-toggle{
		background-color: #fff;
	}
	.top .top-right .dropdown:hover .dropdown-layer{
		display: block;
	}
	.top .top-right .dropdown:hover .dropdown-icon{
		transform: rotateZ(180deg);
	}*/
	.menu-active .dropdown-toggle{
		background-color: #fff;
	}
	/*
	.menu-active .dropdown-layer{
		display: block;
	}
	*/
	.menu-active .dropdown-icon{
		transform: rotateZ(180deg);
	}
	.top .dropdown{
		margin-left: 10px;
	}
	.top .top-right .dropdown-toggle{
		display: block;
		padding:0 5px;
		height: 44px;
		line-height: 44px;
		background-color: #f4f5f7;
	}
	.top .top-right .dropdown-layer{
		top: 44px;
		/*left: 0px;*/
		white-space: nowrap;
		background-color: #f4f5f7;
		border: 1px solid #f4f5f7;
		border-top: none;
	}
	.top .top-right .dropdown-layer li{
		padding: 0 5px;
		height: 33px;
		line-height: 33px;
	}
	.top .top-right .dropdown-layer li:hover{
		background-color: #fff;
	}
/*顶部导航结束*/

/*头部搜索开始*/
	.header{
		height: 100px;
		/*background-color: green;*/
	}
	.header h1 a{
		width: 248px;
		height: 70px;
		background-image: url(../images/header-logo.png);
		display: block;
		margin-top: 15px;
	}
	.header .search{
		position: relative;
		margin-left: 200px;
		margin-top: 30px;
	}
	.header .search-input{
		width: 500px;
		height: 40px;
		box-sizing: border-box;
		outline: none;
		padding: 5px;
	}
	.header .search-btn{
		width: 70px;
		height: 40px;
		box-sizing: border-box;
		outline: none;
		background: #000;
		color: #fff;
		font-size: 18px;
		
	}
	.header .search-layer{
		width: 570px;
		border: 1px solid #4f4f4f;
		border-top: none;
		box-sizing: border-box;
		padding: 5px;
		font-size: 16px;
		position: absolute;
		top: 40px;
		left: 0px;
	}
	.header .search-layer li{
		line-height: 30px;
	}
	.header .search-layer li:hover{
		background: #f4f5f7;
	}
/*头部搜索结束*/

/*主导航开始*/
	.nav-container{
		height: 50px;
		background-color: blue;
	}
/*主导航结束*/

/*焦点区域开始*/
	.focus{
		height: 400px;
		background-color: purple;
	}
/*焦点区域结束*/

/*今日热销开始*/
	.todays{
		height: 100px;
		background-color: tomato;
	}
/*今日热销结束*/

/*楼层开始*/
	.floor{
		height: 400px;
		background-color: skyblue;
	}
/*楼层结束*/
