.Login{
	width: 270px;
	margin: 50px auto;
	background-color: rgba(0,0,0,0.2);
	border: 1px solid #000;
	border-radius: 5px;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.Login .but-sub-login{
	width: 100%;

}